* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: black;
}
.logo {
  font-size: 400;
  font-family: inherit;
  color: ghostwhite;
}
nav {
  display: flex;
  gap: 1.5rem;
}
nav a {
  color: gainsboro;
  text-decoration: none;
  font-size: 20px;
}
.logo {
  font-size: 32px;
  font-family: inherit;
}
.welcome {
  background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 0, 0.5)),
    url(./media/preview.jpg) center/cover fixed no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}
.web {
  color: red;
  padding-left: 10rem;
  font-size: 28px;
  padding-top: 2rem;
  font-family: roboto;
}
.about {
  display: flex;
  gap: 3rem;
  padding: 0 12rem;
  background: linear-gradient(rgba(150, 115, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./media/background.jpg) center/cover fixed no-repeat;
  height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: ghostwhite;
}
.about h2 {
  font-size: 26px;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: blueviolet;
  font-family: inherit;
  text-decoration: underline;
}

.about p {
  font-size: 18px;
  border-left: 2px solid;
  padding-left: 2rem;
  margin-top: 2rem;
}
.about h5 {
  font-size: 26px;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: blueviolet;
  font-family: inherit;
  text-decoration: underline;
}

.about img {
  height: 25rem;
  width: 25rem;
}
.work {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.projects {
  margin-left: 28rem;
  font-size: 32px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 3rem;
  text-decoration: underline;
  padding-bottom: 3rem;
}
.pros img {
  height: 20rem;
  width: 25rem;
  margin-left: 12rem;
  padding: 2rem;
}
.contact {
  background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 0, 0.5)),
    url(./media/runners.jpg) center/cover fixed no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  color: ghostwhite;
  font-family: inherit;
}
.email {
  padding-right: 4rem;
}
.github {
  padding-right: 4rem;
}
.linkedin {
  padding-right: 4rem;
}
